
body {
    justify-content: center;
    align-items:inherit;
    background: black;
    margin: 5%;
    width: 100%;
}
.logo{
    margin-left: 25%;
    /* margin-right: 20%; */
    padding-top: 20%;
}
.loading {
    display: flex;
    color: white;
    font-size: 3rem;
    font-family: Lato, sans-serif;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-left: 35%;
    margin-right: 50%;
}
.loading span {
    animation: shrink 2s infinite;
}

@keyframes shrink {
    50% {
        transform: scale(0);
    }
}